* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  height: 70px;
  background-color: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;

}

.header img {
  width: 70px;
  height: 70px;
  margin-right: 10px;
}

.header h1 {
  line-height: 70px;
  color: white;
}

.content {
  width: 100%;
  padding: 20px;
  float: right;
  transition: .7s;
}


.content img {
  width: 100%;
  max-width: 700px;
  display:block;
  margin: auto;
}

.content p {
  text-align: justify;
  margin-top: 10px;
}

.side-bar {
  width: 20%;
  height: 100%;
  position: fixed;
  top: 70px;
  background-color:#353b48;
  left: -100%;
  transition: .7s;
}

.side-bar ul {
  list-style: none;
}

.side-bar ul li {
  border-bottom: 2px solid rgba(255, 255, 255, .1);
}

.side-bar ul li a {
  display: block;
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 15px 5px;
  transition: .4s;
}

.side-bar ul li a i {
  margin-right: 15px;
}

.side-bar ul li a:hover {
  border-left: 5px solid white;
  border-right: 5px solid white;
}

.social-links {
  margin-top: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 2px solid rgba(255, 255, 255, .1);
  border-bottom: 2px solid rgba(255, 255, 255, .1);
  padding: 15px 25px;
}

.social-links a i {
  font-size: 30px;
  color: white;
}

.social-links a i:hover {
  font-size: 40px;
  color: white;
}


.show-btn, .hide-btn {
  font-size: 35px;
  color: white;
  position: fixed;
  top: 20px;
  left: 50px;

}

.hide-btn {
  opacity: 0;
}

#chk {
  display: none;
}

#chk:checked ~ .side-bar {
  left: 0;

}

#chk:checked ~ .show-btn {
  opacity: 0;
}

#chk:checked ~ .hide-btn {
  opacity: 1;
}

#chk:checked ~ .content {
  width: 80%;
}

@media (max-width: 768px) {
  .side-bar {
    width: 100%;

  }

  .side-bar li a {
    text-align: center;
  }

  .header h1 {
    display: none;
  }
}
