/* practical 1 to 4 */

.image {
  width: 70%;
}

.index-background {
  background-color: lightyellow;
}

.practical-4-body {
  background-color: lightyellow;
}

.offline-image {
  text-align: center;
}

.live-image {
  text-align: center;
}

.document-block {
  font-size: 1.5rem;
}

.inner {
  margin-left: 65px;
}

/* Colour Section */
.red-color {
  color: red;
}

.blue-color {
  color: blue;
}

.skyblue-color {
  color: skyblue;
}

.green-color {
  color: green;
}

/* Practical 5 */

.practical-5 {
  background-color: lightgrey;
}

.image-map {
  text-align: center;
}

img[usemap], map area {
  outline: none;
}

.intro-front {
  color: white;
}

h4 {
  color: red;
}


/* html.html */

.html {
  background-color: lightgrey;
}

.intro-section {
  text-align: center;
}

.html-img {
  width: 40%;
}

.html-intro {
  background-color: grey;
  color: white;
  text-align: justify;
  padding: 10px;
}
