/* Universal Tag */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* main section */
.main-section {
  margin-bottom: 20px;
  text-align: center;
  font-size: 2.3rem;
  color: red;
}

/* Footer Section */
footer {
  background: #26272b;
}


/* Section 1 */
.section-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px 10px;
}

.about {
  width: 40%;
}

.about h2 {
  font-size: 1.7rem;
  color: lightgray;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.about p {
  text-align: justify;
  color: gray;
  line-height: 24px;
}

.section-1 ul {
  list-style-type: none;
  line-height: 24px;
}

/* All links port h2 */
.links1 h2, .links2 h2, .links3 h2 {
  color: lightgray;
  font-size: 1.4rem;
  margin-bottom: 10px;
  text-transform: uppercase;
}

/* targetting all anchor elements */
a {
  text-decoration: none;
  color: gray;
}

a:hover {
  color: orange;
}

/* targetting all span elements */
span {
  color: gray;
  padding-left: 10px;
}

/* font icons */
i {
  color: gray;
  font-size: 20px;
}

.section-2 {
  display: flex;
  justify-content: center;
  padding: 2%;
}


/* Section 2 */
.section-2 h2 {
  color: gray;
  font-size: 1.7rem;
  padding-right: 10px;
}

.section-2 a {
  display: inline-block;
  padding: 10px 15px;
  color: white;
  background: red;
  border-radius: 20px;
}

.section-2 a:hover {
  background-color: blue;
}


/* Section -3  */
.section-3 {
  display: flex;
  justify-content: center;
  padding: 2%;
}

.section-3 ul li {
  display: inline-block;
  width: 60px;
  height: 60px;
  padding: 20px;
  background-color: #424242;
  border-radius: 50%;
  margin-right: 20px;
}

.section-3 ul li i {
  color: white;
  font-size: 1.7rem;
  line-height: 20px;
  text-align: center;
}

.section-3 ul li:nth-child(1):hover {
  background-color: #3b5999;
}

.section-3 ul li:nth-child(2):hover {
  background-color: #55acee;
}

.section-3 ul li:nth-child(3):hover {
  background-color: #dd4b39;
}

.section-3 ul li:nth-child(4):hover {
  background-color: #007785;
}

.section-3 ul li:nth-child(5):hover {
  background-color: #ea4c89;
}


/* Section 4 */
.section-4 {
  display: flex;
  justify-content: center;
  background-color: black;
  padding: 30px;
}

.section-4 p {
  color: gray;
  position: relative;
}

.section-4 p::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  position: absolute;
  right: 0;
  bottom: -10px;
  background-color: yellow;
  transition: 0.3s;
}

.section-4 p:hover::after {
  width: 100%;
}

hr {
  opacity: 0.2;
}

@media (max-width: 970px) {
  .main-section {
    margin-bottom: 20px;
    text-align: center;
    font-size: 2.3rem;
    color: red;
  }

  footer {
    background: #26272b;
  }

  .section-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 10px;
  }

  .about {
    width: 100%;
    margin-bottom: 20px;
  }

  .about h2 {
    font-size: 1.7rem;
    color: lightgray;
    margin-bottom: 10px;
    text-transform: uppercase;
  }

  .about p {
    text-align: justify;
    color: gray;
    line-height: 24px;
  }

  .section-1 ul {
    list-style-type: none;
    line-height: 24px;
  }

  .links1 h2, .links2 h2, .links3 h2 {
    color: lightgray;
    font-size: 1.4rem;
    margin-bottom: 10px;
    text-transform: uppercase;
  }

  a {
    text-decoration: none;
    color: gray;
  }

  a:hover {
    color: orange;
  }

  span {
    color: gray;
    padding-left: 10px;
  }

  i {
    color: gray;
    font-size: 20px;
  }

  .section-2 {
    display: flex;
    justify-content: center;
    padding: 2%;
  }

  .section-2 h2 {
    color: gray;
    font-size: 1.7rem;
    padding-right: 10px;
  }

  .section-2 a {
    display: inline-block;
    padding: 10px 15px;
    color: white;
    background: red;
    border-radius: 20px;
  }

  .section-2 a:hover {
    background-color: blue;
  }

  .section-3 {
    display: flex;
    justify-content: center;
    padding: 2%;
  }

  .section-3 ul li {
    display: inline-block;
    width: 60px;
    height: 60px;
    padding: 20px;
    background-color: #424242;
    border-radius: 50%;
    margin-right: 20px;
  }

  .section-3 ul li i {
    color: white;
    font-size: 1.7rem;
    line-height: 20px;
    text-align: center;
  }

  .section-3 ul li:nth-child(1):hover {
    background-color: #3b5999;
  }

  .section-3 ul li:nth-child(2):hover {
    background-color: #55acee;
  }

  .section-3 ul li:nth-child(3):hover {
    background-color: #dd4b39;
  }

  .section-3 ul li:nth-child(4):hover {
    background-color: #007785;
  }

  .section-3 ul li:nth-child(5):hover {
    background-color: #ea4c89;
  }

  .section-4 {
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 30px;
  }

  .section-4 p {
    color: gray;
    position: relative;
  }

  .section-4 p::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    position: absolute;
    right: 0;
    bottom: -10px;
    background-color: yellow;
    transition: 0.3s;
  }

  .section-4 p:hover::after {
    width: 100%;
  }

  hr {
    opacity: 0.2;
  }
}

@media (max-width: 566px) {
  .main-section {
    margin-bottom: 20px;
    text-align: center;
    font-size: 2.3rem;
    color: red;
  }

  footer {
    background: #26272b;
  }

  .section-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 10px;
  }

  .about {
    width: 100%;
    margin-bottom: 20px;
  }

  .about h2 {
    font-size: 1.7rem;
    text-align: center;
    color: lightgray;
    margin-bottom: 10px;
    text-transform: uppercase;
  }

  .about p {
    text-align: justify;
    color: gray;
    line-height: 24px;
  }

  .section-1 ul {
    list-style-type: none;
    line-height: 24px;
  }

  .links1 h2, .links2 h2, .links3 h2 {
    color: lightgray;
    font-size: 1.4rem;
    margin-bottom: 10px;
    text-transform: uppercase;
    margin-top: 20px;
  }

  .links3 ul, .links2 ul, .links1 ul {
    text-align: left;
    width: 70%;
    margin: auto;
  }

  a {
    text-decoration: none;
    color: gray;
  }

  a:hover {
    color: orange;
  }

  span {
    color: gray;
    padding-left: 10px;
  }

  i {
    color: gray;
    font-size: 20px;
  }

  .section-2 {
    display: flex;
    justify-content: center;
    padding: 2%;
  }

  .section-2 h2 {
    color: gray;
    font-size: 1.7rem;
    padding-right: 10px;
  }

  .section-2 a {
    display: inline-block;
    padding: 10px 15px;
    color: white;
    background: red;
    border-radius: 20px;
  }

  .section-2 a:hover {
    background-color: blue;
  }

  .section-3 {
    display: flex;
    justify-content: center;
    padding: 2%;
  }

  .section-3 ul li {
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 10px;
    background-color: #424242;
    border-radius: 50%;
    margin-right: 10px;
  }

  .section-3 ul li i {
    color: white;
    font-size: 1.7rem;
    line-height: 20px;
    text-align: center;
  }

  .section-3 ul li:nth-child(1):hover {
    background-color: #3b5999;
  }

  .section-3 ul li:nth-child(2):hover {
    background-color: #55acee;
  }

  .section-3 ul li:nth-child(3):hover {
    background-color: #dd4b39;
  }

  .section-3 ul li:nth-child(4):hover {
    background-color: #007785;
  }

  .section-3 ul li:nth-child(5):hover {
    background-color: #ea4c89;
  }

  .section-4 {
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 30px;
  }

  .section-4 p {
    color: gray;
    position: relative;
  }

  .section-4 p::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    position: absolute;
    right: 0;
    bottom: -10px;
    background-color: yellow;
    transition: 0.3s;
  }

  .section-4 p:hover::after {
    width: 100%;
  }

  hr {
    opacity: 0.2;
  }
}
