* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.full-page {
  background-color: lightgrey;
  margin: 40px auto;
  width: 85%;
  padding: 15px;
  color: white;
}

.container {
  background-color: white;
  padding: 15px;
  font-size: 2rem;
  font-weight: bold;
  border: solid 2px white;
}


/* Header Section  */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;

  background-color: grey;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
  height: 500px;

  background-color: skyblue;
}


/* All sections headings */
.head1, .head2, .head3, .head4 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: black;
}

.section2, .section3, .section-4 {
  margin: 20px 0;
}


/* Section 1 */
.avatar {
  display: flex;
  justify-content: center;
}


.av-1, .av-2, .av-3, .av-4 {
  width: 20%;
  height: 200px;
  background-color: pink;
  border-radius: 50%;
  margin: 0 20px;
}



.section2::after {
  content: "";
  display: block;
  clear: both;
}


/* All Section 2 */
.main-content {
  height: 465px;
  background-color: lightgreen;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  width: 48%;
}

.articles {
  float: right;
  width: 48%;
  height: 465px;
}

.ar-1, .ar-2, .ar-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 145px;
  background-color: lightblue;
  margin-bottom: 15px;
}

.ar-3 {
  margin: 0;
}

/* Section 3 */
.box-avatar {
  display: flex;
  justify-content: center;
}

.box-1, .box-2, .box-3, .box-4 {
  width: 20%;
  background-color: red;
  height: 250px;
  margin: 0 20px;
}

/* Section 4 */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  font-size: 2rem;
  background-color: grey;
}

a {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 1rem;
}
